<?php
chdir(dirname(__FILE__));
chdir("../../");
include_once 'vtlib/Vtiger/Cron.php';
require_once 'config.inc.php';
require_once 'includes/Loader.php';
vimport ('includes.runtime.EntryPoint');
vimport ('includes.runtime.Globals');

require_once 'include/utils/utils.php';
ini_set("display_errors",1);
error_reporting(E_ALL & ~E_NOTICE);

if(!isset($current_user) || empty($current_user)) {
	$current_user = CRMEntity::getInstance('Users');
	$current_user->retrieveCurrentUserInfoFromFile($current_user->getActiveAdminId());
}

$model = new BoruElastic_BoruElastic_Model();
//$results = $model->search("test");
echo "template step\n";
//Check to see if the template exists
$model->createTemplate();
echo "template step\n";

$maxFields = $model->getMaxFields();
$enabledModules = $model->getAllModuleConfig(true);
if($enabledModules !== false) {
	foreach($enabledModules as $cfg) {
		$reindex = false;
		if( $maxFields[$cfg["tabid"]] > $cfg["max_fieldid"] || $cfg["max_fieldid"]<=0 )
			$reindex=true;
		
		$model->indexAllRecords($cfg["tabid"],$cfg,$reindex);
		if($reindex) {
			$model->updateLastReindex($maxFields[$cfg["tabid"]],$cfg["tabid"]);
		}
	}
	//$model->sync();
	
}